@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}
nav .logo{
	font-size: 20px;
	color: #fff;
	font-weight: 600;

}
.home{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	
}
.wrapper{
	z-index: -1;
	display: inline-flex;	
	justify-content: center;
	
}

.wrapper .static-txt{
	font-size: 70px;	
	font-weight: 400;
}
.wrapper .dynamic-txts {
	margin-top: 8px;
	margin-left: 15px;
	height: 90px;
	line-height: 90px;

	overflow: hidden;
}
.dynamic-txts li{
	color: crimson;
	list-style: none;
	font-size: 70px;
	font-weight: 500;
	position: relative;
	background: #fff;
	top: 0;
	animation: slide 8s steps(4) infinite;

}
@keyframes slide{
	100%{
		top: -360px;
	}
}
.dynamic-txts li span {
	position: relative;
}
.dynamic-txts li span::after{
	content:"";
	position: absolute;
	left: 0%;
	height: 100%;
	width: 100%;
	background: #fff;
	border-left: 2px solid crimson;
	animation: typing 2s steps(14) infinite;
}

@keyframes typing {

	100%{
		left: 100%;
		margin: 0 -35px 0 35px;
	}

}





nav{
	height: 80px;
	width: 100%;
	background: #1b1b1b;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 50px 0px 100px;
}
nav ul{
	display: flex;
	list-style: none;
}

nav ul li{
	margin:0 5px;
}

nav ul li a{
	color: #fff;
	text-decoration: none;
	font-weight: 500;
	padding: 8px 10px;
	border-radius:5px;
	transition: all 0.3 ease;
}

nav ul li a:hover,
nav ul li a.active{
	background: #fff;
	color: #1b1b1b;
}

nav .menu-btn i{
	color: #fff;
	font-size: 22px;
	cursor: pointer;
	display: none;
}

.about 
{
	width: 100%;
	padding: 78px 0px;
	background: #191919;
}

.about img{
	height: auto;
	width: 350px;
}
.about-text{
	width: 50%;
}
.main{
	width: 100%;
	max-width: 95%;
	margin:  0auto;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.about-text h1{
	color: white;
	font-size: 80px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.about-text h5{
	color: white;
	font-size: 25px;
	text-transform: capitalize;
	letter-spacing: 2px;
}

.about-text p{
	color: #fcfc;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	text-align: justify;
	text-justify: interword;


}
span {
	color: #f9004d;
}
.follow
{
	color: white;
	padding: 20px 50px 50px 50px;
}

.follow ul li{
	list-style: none;
	display: inline-block;
}
.follow ul li i{
	list-style: none;
	display: inline-block;
	padding: 20px 10px;
	border-radius:5px;
	cursor: pointer;
	width: 100%;
	
}
.follow ul li i:hover{
	
	color: #f9004d;
}
@media (max-width:956px)
{
.wrapper .static-txt{
	font-size: 50px;
}
.wrapper li{
	font-size: 50px;
	background: #fff;
}
.wrapper .dynamic-txts{
	margin-top: -7px;
}
.dynamic-txts li span::after{
	position: absolute;
	height: 108%;
}
.main{
	display: flex;
	flex-direction: column;
	width: 100%;
}
.main h1{
	font-size: 35px;
}
.about-text{
	width: 80%;
}
.main img{
	clip-path: circle();
}
nav .menu-btn i{
	display: block;
}

		nav ul{
		position: fixed;
		top: 80px;
		left: -100%;
		background: #111;
		display: block;
		height: 100vh;
		width: 100%;
		text-align: center;
		transition: all ease 0.3s;

	}

	nav ul li{
			margin-top: 80px;
	}

	
	
	nav ul li a:hover,
	nav ul li a.active{
		background: none;
		color: cyan;

	}
}
@media (max-width:521px){
	.wrapper .static-txt{
	font-size: 30px;
}
.wrapper li{
	font-size: 30px;
	background: #fff;
}
.wrapper .dynamic-txts{
	margin-top: -22px;
}
.dynamic-txts li span::after{
	
	height: 152%;
}
}
@media (max-width:488px)
{
	.wrapper .static-txt{
	font-size: 30px;
}
.wrapper li{
	font-size: 30px;
	background: #fff;
}
.wrapper .dynamic-txts{
	margin-top: -22px;
}
.dynamic-txts li span::after{
	
	height: 152%;
}
	
	nav{
		padding: 0px 10px 0px 10px;
		
	}
	.follow ul li i{
	font-size: 20px;
	padding: 2px 2px;
	
}
}

@media (max-width:342px)
{
	.wrapper .static-txt{
	font-size: 20px;
	background: #fff;
}
.wrapper .dynamic-txts{
	margin-top: -29px;
}
.dynamic-txts li span::after{

	height: 205%;
}
.dynamic-txts li span{
	margin-top: 250px;
	height: 5%;
}
	
	font-size: 20px;
}
.wrapper li{
	nav{
		padding: 0px 10px 0px 10px5
		
	}
}

@media (max-width:729px)
{
	.follow ul li i{
	
	padding: 10px 10px;
	
	
}
}

@media (max-width:601px)
{
	.follow ul li i{
	font-size: 35px;
	padding: 10px 10px;
	
	
}
}
@media (max-width:513px)
{
	.follow ul li i{
	font-size: 25px;
	padding: 10px 5px;
	margin-left: 0;
	
	
}
}

@media (max-width:383px)
{
	.follow ul li i{
	font-size: 20px;
	padding: 10px 2px;
	margin-left: 0;
	
	
}
.main img{
	width: 300px;
}

}

@media (max-width:310px)
{
	.follow ul li i{
	font-size: 10px;
	padding: 2px 2px;
	
}
.main img{
	width: 250px;
}
.about-text h1{
	font-size: 20px;
}
.about-text h5{
	font-size: 15px;
}

.about-text p{
	font-size: 12px;
}
}
